@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Vidaloka&display=swap');

body {
    min-height: 100vh;
    font-family: "Schibsted Grotesk", sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 226, 226);
    color: #5f5d5d;
}

.footer-story {
    background-color: rgb(111, 21, 21); 
    min-height: 50px;
}

.header-story__picture {
    background-image: url(./StockCake-Neon-lit\ Retro\ Diner_1733616297.jpg);
    min-height: calc(100vh - 300px);
    background-position: 50% 40%;
}

.header-story__text {
    font-size: 45px;
    font-weight: 600;
    color: #f3f1f1;
    text-transform: uppercase;
    filter: drop-shadow(3px 3px 15px #a6a4a4);
    margin-top: 220px;
    margin-left: 50px;
    letter-spacing: 2px;
}

.footer-story {
    margin-top: auto;
}

.main-text-story {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 100px);
    position: relative;
    margin-bottom: 60px;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(177, 37, 37); 
}

p {
    margin: 30px;
    text-align: center;
}

.main-text-story__picture {
    margin: 40px;
}

.signature-pic {
    position: absolute;
    transform: scale(25%);
    top: 200px;
}

.return-button {
    text-transform: uppercase;  
    border: none;
    font-size: 10px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 5%;
    cursor: pointer;
    letter-spacing: 0.8px;
    background-color: rgb(224, 210, 190);
    color: rgb(50, 15, 15);
    margin-top: 10px;
    margin-left: 20px;
}

.return-button:hover {
    filter: drop-shadow(2px 2px 15px #efecec80);
    background-color: rgb(240, 217, 189);
}